.row {
  margin: 20px 0;
}

.directoryTable {
  flex-basis: 600px;
  text-align: left;
  border-collapse: collapse;
  position: relative;
  table-layout: fixed;

  &:after {
    content: '';
    position: absolute;
    box-shadow: rgba(0, 0, 0, 0.08) 0 0 17px;
    border-radius: 10px;
    left: 0;
    right: 0;
    top: 38px;
    bottom: 0;
    z-index: -1;
  }

  td, th {
    padding: 10px 20px;
  }

  td {
    background: white;
    border-bottom: 1px solid #e4e4e4;
  }

  th:nth-of-type(1) {
    width: 210px;
  }

  tr:nth-of-type(1) {
    td:nth-of-type(1) {
      border-radius: 10px 0 0 0;
    }
    td:last-child {
      border-radius: 0 10px 0 0;
    }
  }
  tr:last-child {
    td {
      border: none;
    }
    td:nth-of-type(1) {
      border-radius: 0 0 0 10px;
    }
    td:last-child {
      border-radius: 0 0 10px 0;
    }
  }
}

.filterBlock {
  margin-top: 10px;
  margin-left: 20px;

  form {
    margin-top: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding-bottom: 50px;
  }
}

