body {
  background: #eaf5ee;
}

a {
  color: #1f60ca;
}

.flContainer {
  display: flex;
}

form input, form textarea, form select {
  padding: 2px 5px;
  border-radius: 3px;
  border: 1px solid #ccc;
  background: white;
  height: 25px;
}

.btn {
  border-radius: 5px;
  padding: 7px 12px;
  background: #ccc;
  background: linear-gradient(to bottom, white, #ccc);
  box-shadow: 0px 3px 11px -5px;
  border: 1px solid #ccc;

  text-decoration: none;
  color: black;
}

.btnSuccess {
  composes: btn;
  background: #ccc;
  background: linear-gradient(to bottom, #95f7aa, #8eca95);
  border: none;
}